---
layout: page
title: Main
weight: 1.5
show: 1
---

<div class="col-7">
    <center>
  <table>
<tr><td style="padding:10px 90px 10px 0px">
      <img width="200px" class="img-rounded" src="./images/richras_profile.jpg" />
  </td><td style="padding:10px">
    <center>
    <h1>Richa Rastogi</h1>
    <!-- <b>Computer Science PhD Student</b>, Cornell University<br> -->
    <span style="font-size:16px"><a href="https://github.com/RichRast">[Github]</a> <a href="https://scholar.google.com/citations?hl=en&user=hhy7tVIAAAAJ&view_op=list_works&sortby=pubdate">[Google Scholar]</a> <a href="https://twitter.com/Rich_Rast">[Twitter]</a></span> </h1> <br>
</center>

      </td>
  </tr>
  </table>
  </center>
<br>
</div>

<p style="font-size: 16px">

Hi! I'am a Computer Science PhD Student at <a href="https://www.cs.cornell.edu/">Cornell University </a> and I'am very fortunate to be advised by Professor <a href="https://www.cs.cornell.edu/people/tj/">Thorsten Joachims</a>. 
<br>
My research interests center on responsible machine learning. I am interested in developing methods and theory for different aspects of responsible ML, including bias, fairness issues and their long term dynamics. 
<!-- My research interests center on responsible machine learning in the context of rankings and resource allocation. I am interested in developing methods and theory that can improve our understanding of the induced bias and fairness issues and their long term dynamics. -->
<!-- . in the context of rankings and resource allocation, Currently, my research focus is fairness and bias issues that arise with the use of machine learning models
as well as understanding their long term dynamics  and feedback loops.  -->
<br>
<br>
Prior to starting PhD, I spent several years working as a Data Scientist at Amazon Advertising and as a Controls Engineer at <a href="https://youtu.be/3bdRKaodLK8?si=6W3vaqLnhWNxdbfP">Amazon Fullfillment Technologies</a>,
where I developed models and code that were deployed in production systems and published a <a href="https://patents.google.com/patent/US11104469B1/en?oq=US11104469B1">patent</a>. 
<!-- I also spent a year at the Stanford's biomedical  -->
<!-- data science department working on machine learning methods for disparities in genomics. -->
<br>
If you're an undergrad or Master's student at Cornell and are interested in working with me, please don't hesitate to reach out! My email is rr568 at cornell dot edu.
<br>
</p>
<h4> News </h4>
<ul style="font-size: 16px">
    <li>Aug 16, 2023: Selected to participate at <a href="https://www.chicagobooth.edu/research/center-for-applied-artificial-intelligence/opportunities/event---mlesi">Machine Learning in Economics Summer Institute '23 </a>, hosted by Chicago Booth. 
    </li>
    <br>
    <li>Aug 05, 2023: Presented our paper, <a href="https://arxiv.org/abs/2309.01610">Fair Ranking under Disparate Uncertainty</a>, as a <b> Spotlight (Oral) </b> at UAI workshop on <a href="https://sites.google.com/view/epi-workshop-uai-2023/schedule?authuser=0">Epistemic in AI</a> at CMU, Pittsburgh! 
        <!-- In this work, we introduce Equal-Opportunity Ranking (EOR) as a new fairness criterion for ranking that provably corrects for the group unfairness induced when 
        the uncertainty of the underlying relevance model differs between groups of options. -->
    </li>
    <br>
    <li>Jan 20, 2023: Our paper, <a href="https://arxiv.org/abs/2205.11718">Semi-Parametric Inducing Point Networks and Neural Processes</a>, is accepted at ICLR 2023! We introduce 
        semi-parametric inducing point networks (SPIN), a general-purpose architecture that can query the training set at inference time in a compute-efficient manner. 
    </li>
    <br>
    <li>Aug 31, 2021: Our <a href="https://patents.google.com/patent/US11104469B1/en?oq=US11104469B1">Patent</a> filed on behalf of Amazon is granted by USPTO! It describes a closed loop feedback 
        dynamical system with online updates for accurately positioning labels on moving packages. 
    </li>
    <br>
</ul>



<h4>Selected Papers</h4>

<p>
  
  
    My full list of papers and patents are <a href="https://scholar.google.com/citations?view_op=list_works&hl=en&hl=en&user=hhy7tVIAAAAJ&sortby=pubdate">here</a>.
    </p>
    <table>
    {% for paper in site.data.papers.papers %}
    
    
      <tr><td style="padding:10px">
          {% if paper.image %}
          <a href="{{paper.pdf}}"><img width="600px" style="min-width:150px" src="{{paper.image}}"></a>
          {% else %}
          <a href="{{paper.pdf}}"><img height="75px" style="min-width:150px" src="https://avatar.tobi.sh/{{paper.title}}"></a>
    
          {% endif %}
    </td><td style="padding:10px">
    <a class="paper" href="{{paper.pdf}}">
    {{paper.title}}
    </a><br>
    {{paper.authors}}.<br>
    {{paper.conference}} <br>
    <!-- {% if paper.pdf %}<a class="icon pdf label label-info" href="{{paper.pdf}}">pdf</a> {% endif %}
    {% if paper.models %}<a class="icon slides label label-warning" href="{{paper.models}}">models</a>{% endif %}
    {% if paper.code %} <a class="icon slides label label-success label-warning" href="{{paper.code}}">code</a>{% endif %} -->
    <br>
    
    </td></tr>
    
    {% endfor %}
    </table>

<br>    
<h4>Working Papers</h4>
    
    <table>
    {% for paper in site.data.workingpapers.papers %}
    <!-- <a class="paper" href="{{paper.pdf}}"> -->
    {{paper.title}}
    <!-- </a> -->
    <br>
    {{paper.authors}}.<br>
    {{paper.conference}} <br>
    
    <br>
    
    </td></tr>
    
    {% endfor %}
    </table>

<!--h4>Contact</h4>

<div class="paper-section">
    Science and Engineering Complex 5.443 <br>
    150 Western Avenue <br>
    Boston, MA 02134 <br>
    USA
</div-->
<br>
