---
layout: page
title: Main
weight: 1.5
show: 1
---

<div class="col-7">
    <center>
  <table>
<tr><td style="padding:10px 90px 10px 0px">
      <img width="200px" class="img-rounded" src="./images/richras_profile.jpg" />
  </td><td style="padding:10px">
    <center>
    <h1>Richa Rastogi</h1>
    <span style="font-size:16px"><a href="mailto:rr568@cornell.edu">[Email]</a></span> </h1> <br>
</center>

      </td>
  </tr>
  </table>
  </center>
<br>
</div>

<p style="font-size: 16px">

Hi! I'am a Computer Science PhD Candidate at <a href="https://www.cs.cornell.edu/">Cornell University </a> and I'am fortunate to be advised by Professor <a href="https://www.cs.cornell.edu/people/tj/">Thorsten Joachims</a>.
<br>
My research interests broadly lie in the area of learning from feedback in interactive systems, ranging from recommender systems to LLMs. 
I am interested in studying, building, and developing principled methods that tackle real-world complexities, such as sparse rewards, optimizing over long horizons, computational inefficiency, uncertainties, etc. As a result, I work at the intersection of machine learning, reinforcement learning, and optimization. 
<br>
Prior to starting PhD, I enjoyed several years working as a controls engineer at <a href="https://youtu.be/3bdRKaodLK8?si=6W3vaqLnhWNxdbfP">Amazon Fullfillment Technologies</a> and other companies. Prior to that, I hung out at Georgia Tech, working towards a Masters in Industrial Engineering and Operations Research <a href="https://www.isye.gatech.edu/">ISyE</a>.
I hold a Bachelors of Engineering from <a href="http://nsut.ac.in/en/home">Delhi University, India</a>.
<br>

<br>



<h4>Selected Works <span style="font-size: 14px">(complete works at <a href="https://scholar.google.com/citations?hl=en&user=hhy7tVIAAAAJ&view_op=list_works&sortby=pubdate">Google Scholar</a>)</span></h4>

<table>
    {% for paper in site.data.papers.papers %}
    
    
      <tr><td style="padding:10px">
          {% if paper.image %}
          {% if forloop.index == 1 %}
          <a href="{{paper.pdf}}"><img height="200px" style="min-width:150px" src="{{paper.image}}"></a>
          {% else %}
          <a href="{{paper.pdf}}"><img width="800px" style="min-width:150px" src="{{paper.image}}"></a>
          {% endif %}
          {% else %}
          <a href="{{paper.pdf}}"><img height="80px" style="min-width:150px" src="https://avatar.tobi.sh/{{paper.title}}"></a>
          {% endif %}
    </td><td style="padding:10px">
    <a class="paper" style="color: #0e56b5" href="{{paper.pdf}}">
    {{paper.title}}
    </a><br>
    {{paper.authors}}.<br>
    <span style="color: #B25959;">{{paper.conference}}</span> <br>
    {{paper.tldr}} <br>
    <span style="font-size: 14px">
        {% if paper.code %}<a style="color: #0e56b5" href="{{paper.code}}">code</a>{% endif %}
        {% if paper.code and paper.slides %} | {% endif %}
        {% if paper.slides %}<a style="color: #0e56b5" href="{{paper.slides}}">slides</a>{% endif %}
        {% if paper.slides and paper.bibtex %} | {% endif %}
        {% if paper.bibtex %}
            <a style="color: #0e56b5" 
               onclick="downloadBibtex(this)" 
               data-bibtex="{{paper.bibtex | escape}}"
               href="javascript:void(0)">bibtex</a>
        {% endif %}
        {% if paper.bibtex and paper.poster %} | {% endif %}
        {% if paper.poster %}<a style="color: #0e56b5" href="{{paper.poster}}">poster</a>{% endif %}
        {% if paper.poster and paper.news %} | {% endif %}
        {% if paper.news %}<a style="color: #B25959" href="{{paper.news}}"> Media: Cornell News</a>{% endif %}
    </span><br>
    <!-- {% if paper.pdf %}<a class="icon pdf label label-info" href="{{paper.pdf}}">pdf</a> {% endif %}
    {% if paper.models %}<a class="icon slides label label-warning" href="{{paper.models}}">models</a>{% endif %}
    -->
    <br>
    
    </td></tr>
    
    {% endfor %}
    </table>

<br>    

<script>
function downloadBibtex(element) {
    const bibtex = element.getAttribute('data-bibtex');
    const blob = new Blob([bibtex], {type: 'text/plain'});
    const url = window.URL.createObjectURL(blob);
    const a = document.createElement('a');
    a.href = url;
    a.download = 'citation.bib';
    document.body.appendChild(a);
    a.click();
    window.URL.revokeObjectURL(url);
    document.body.removeChild(a);
}
</script>

